<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
    <link rel="stylesheet"href="{{url_for('static', filename='styles/home.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar-home">
        <div class="nav-container">
            <a class="cookbuddylogo" href="#">COOKBUDDY</a>
        </div>
        <form class="home" action="{{ url_for('home') }}" method="post">
        <ul class="navbar">
            <li class="sections"><a name="Profile" href="{{ url_for('profile') }}">Profile</a></li>
            <li><a name="Home" href="{{ url_for('home') }}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a name="Recipe Generator" href="{{ url_for('recipegenerator') }}" >Recipe Generator</a></li>
            <li><a name="Random Recipe" href="{{ url_for('randomrecipe') }}">Random Recipe</a></li>
            <input type="text" placeholder="Search" >
        </ul>
        </form>
        </div>
    </nav>
</body>
</html>