<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Recipe</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='styles/randomrecipe.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>COOKBUDDY</h1>
        {%for recipe in recipes %}
        <div id="recipecontainer">
            <h2>{{recipe.title}}</h2>
            <img src="{{recipe.image}}" class="recipeimage" alt="Recipe Image">
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {%endfor%}
            </ul>
            <h2>Instructions</h2>
            <p>{{recipe.instructions if recipe.instructions else 'No instructions'}}</p>
            <h3>Ready In Minutes <i class='bx bx-time'></i></h3>

            <p>{{recipe.readyInMinutes if recipe.readyInMinutes else 'No ready in minutes information'}}</p>
            <h3>Servings <i class='bx bxs-group'></i></h3>
            <p>{{recipe.servings if recipe.servings else 'No servings information'}}</p>
        </div>
        {%endfor%}
    </div>
</body>
</html>